<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'> 
    <link rel="stylesheet" type="text/css" href="../css/timer.css" />
  </head>
  <body class="body-timeup">
    <div id="content">
      <div id="bell-anim">
        <div class="bell-timeup">
          <div class="bell-gong">
          </div>
        </div>
      </div>
      <div class="message-timeup">
        <b></b>
      </div>
    </div>
    <audio src="../sounds/bell.wav" autoplay loop></audio>

	<script src="/js/libs/inlinejs/alert_timeup.js"></script>
  </body>
</html>
