<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- STYLESHEETS -->

	<link rel="stylesheet" href="/css/bootstrap.css" media="screen" />
	<link rel="stylesheet" href="/css/style.css" media="screen" />

	<script src="/js/libs/require/require.js"></script>
	<script src="/js/options.js"></script>
</head>
<body>

<div id="wrapper">
	<header>			
		<h2><a href="javascript:void(0);" title="显示/隐藏" class="show-menubar">Chrome Tools</a></h2>			
	</header>
	<section class="layout">
		<section class="center" id="center_content">
			<header>
            	<div class="container_12 clearfix">
					<h1 class="grid_12"></h1>
                </div>
			</header>
	        <section id="main-content" class="clearfix">
			</section>
	        <footer class="clearfix">
	        	<div class="span12"></div>
	        </footer>
		</section>
		<!-- Sidebar -->
        <aside id="left_menu">
	    	<nav class="drilldownMenu">
           		<h1 style="display: none;">
                	<span class="title">Main Menu</span>
               		<button title="后退" class="back btn">后退</button>
                </h1>
	            <ul class="tlm">
	                <li class="current"><a href="#!/options" title="工具配置"><span>工具配置</span></a>
	                </li>
	                <li class="hasul"><a href="#" title="数据展示"><span>数据展示</span></a>
					    <ul>
	                       	<li><a href="#!/feed" title="个人数据"><span>个人数据</span></a></li>
	                       	<li><a href="#!/taobao_top_goods" title="淘宝排行榜数据"><span>淘宝排行榜数据</span></a></li>
					    </ul>
					</li>
	        	</ul>
	     	</nav>
         </aside>
		 <!-- Sidebar End -->            
	
	<!-- Main Section End -->
	</section>
</div>    

</body>
</html>
