<style type="text/css">
<!--
.chrome_xpath_blue{border: 1px solid blue !important;}

table.chrome_xpath_table {
	margin: 0 0 0 1px;
	border-color: #36C;
	border-spacing: 0;
	clear: right;
	border-collapse: collapse;
	line-height: 125%;
	font: 13px/22px 'Open Sans',arial,sans-serif;
}

table.chrome_xpath_table td {
	padding: 6px 12px;
	border: 1px solid #36C;
	background-color: white;
	text-align: left;
	vertical-align: top;
}

table.chrome_xpath_table input[type="button"], input[type="submit"] {
	font-size: 100%;
	background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));
	background: -moz-linear-gradient(top,white,#DDD);
	vertical-align: baseline;
	padding: 1px 3px 1px 3px;
	border: 1px solid #AAA;
	border-top-color: #CCC;
	border-bottom-color: #888;
	border-radius: 3px;
	-moz-border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
}
-->
</style>
<div id="dashboard_div" style="position:fixed;z-index:20000;background-color:#fff;bottom: 0%;right:0%;">
    <table class="chrome_xpath_table">
        <tbody>
        	<tr>
                <td>
                    path:
                </td>
                <td>
                    <input type="button" id="get_path" value="click">&nbsp;&nbsp;
                    <input type="button" id="unget_path" value="unclick">
                    
                </td>
            </tr>
            <tr>
                <td>
                    获取:
                </td>
                <td>
                    <input type="button" id="get_button" value="获取">
                </td>
            </tr>
            <tr>
                <td>
                    行:
                </td>
                <td colspan="4">
                    <textarea id="content_x" style="height:50px;"></textarea>
                </td>
            </tr>
            <tr>
                <tr>
                    <td>
                        列:
                    </td>
                    <td colspan="4">
                        <textarea id="content_y" style="height:30px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        属性:
                    </td>
                    <td>
                        <textarea id="attr" style="height:30px;">textContent</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        结果:
                    </td>
                    <td colspan="4">
                        <textarea id="submit_result" style="height:50px;">
                        </textarea>
                    </td>
                </tr>
        </tbody>
    </table>
</div>
