<div id="dashboard_div" style="position:fixed;z-index:20000;background-color:#fff;bottom: 0%;right:0%;">
    <table>
        <tbody>
            <tr>
                <td>
                    获取:
                </td>
                <td>
                    <input type="button" id="get_button" value="获取">
                </td>
            </tr>
            <tr>
                <td>
                    行:
                </td>
                <td colspan="4">
                    <textarea id="content_x" style="height:50px;">/html/body/table[4]/tbody/tr[1]/td[2]/table[2]/tbody/tr[2]/td[2]/table/tbody/tr</textarea>
                </td>
            </tr>
            <tr>
                <tr>
                    <td>
                        列:
                    </td>
                    <td colspan="4">
                        <textarea id="content_y" style="height:30px;">/td[2],/td[3]</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        属性:
                    </td>
                    <td>
                        <textarea id="attr" style="height:30px;">textContent,textContent</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        结果:
                    </td>
                    <td colspan="4">
                        <textarea id="submit_result" style="height:50px;">
                        </textarea>
                    </td>
                </tr>
        </tbody>
    </table>
</div>
