<style type="text/css">
<!--
.chrome_xpath_blue{border: 1px solid blue !important;}
-->
</style>
<div id="dashboard_div" style="position:fixed;z-index:20000;background-color:#fff;bottom: 0%;right:0%;">
    <table>
        <tbody>
        	<tr>
                <td>
                    path:
                </td>
                <td>
                    <input type="button" id="get_path" value="click">&nbsp;&nbsp;
                    <input type="button" id="unget_path" value="unclick">
                    
                </td>
            </tr>
            <tr>
                <td>
                    获取:
                </td>
                <td>
                    <input type="button" id="get_button" value="获取">
                </td>
            </tr>
            <tr>
                <td>
                    行:
                </td>
                <td colspan="4">
                    <textarea id="content_x" style="height:50px;"></textarea>
                </td>
            </tr>
            <tr>
                <tr>
                    <td>
                        列:
                    </td>
                    <td colspan="4">
                        <textarea id="content_y" style="height:30px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        属性:
                    </td>
                    <td>
                        <textarea id="attr" style="height:30px;">textContent</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        结果:
                    </td>
                    <td colspan="4">
                        <textarea id="submit_result" style="height:50px;">
                        </textarea>
                    </td>
                </tr>
        </tbody>
    </table>
</div>
