
    <div class="container_12 leading"><section id="result" class="bs-docs-result"></section>
		<section class="portlet">
			<header>
				<h2>淘宝卖家工具</h2>
			</header>
			<section>
				<form class="form-horizontal">
					<fieldset>
						<legend>信用评价</legend>
							<div class="control-group span12">
								<label class="control-label" for="short_url">淘宝帐号</label>
								<div class="controls">
									<input type="text" id="taobao_nick" name="taobao_nick" value="" />
									<a id="get_taobao_rate" class="btn btn-success" href="javascript:void(0);">查询买家信用</a>
									<p class="help-block" id="taobao_rate_result"></p>
								</div>
							</div>
							
						</div>
					</fieldset>
				</form>
			</section>
		</section>
		
	</div>

