
    <div class="container_12 leading">
		<section class="portlet">
			<header>
				<h2>信息源</h2>
			</header>
			<section>
				<div class="form-horizontal">
					<fieldset>
						<legend>招聘网站</legend>
							<div class="control-group span12">
								<label class="checkbox inline">
									<input type="checkbox" name="wb" value="get_58job" checked=true />58job
								</label>
								<label class="checkbox inline">
									<input type="checkbox" name="wb" value="get_zhaopin" checked=true />zhaopin
								</label>
								<label class="checkbox inline">
									<input type="checkbox" name="wb" value="get_51job" checked=true />51job
								</label>
									<button id="get_job" class="btn btn-success">查询</button>
							</div>
					</fieldset>
					<fieldset>
						<legend>房产网站</legend>
							<div class="control-group span12">
								<label class="checkbox inline">
									<input type="checkbox" name="hs" value="get_58house" checked=true />58house
								</label>
								<label class="checkbox inline">
									<input type="checkbox" name="hs" value="get_soufun" checked=true />soufun
								</label>
									<button id="get_house" class="btn btn-success">查询</button>
							</div>
					</fieldset>
				</div>
			</section>
		</section>
		
	</div>

